<!DOCTYPE html>
<html lang="utf-8">
<head>
<meta charset="utf-8">
<title>Comments</title>
</head>
<body>
<h1>New Comment</h1>
<form method="post">
    <textarea name="comment" row="8" cols="80"></textarea>
    <div>
        <input type="submit" value="Comment">
    </div>
</form>


</body>
</html>

